<section>
  <h1>About Me</h1>
  <img src="/images/me.png" />
  <p>Sebastien Lachance, programmer since 2003.</p>
  <p>I am an entrepreneur and consultant. I have launched the <a href="http://www.guidedescommercesdebeauce.com">Guide des Commerces</a> in 2011, a project with great potential and had a lot of fun making it. 
  </p>
  <p>
    I'm a web developer specialized in Rails and ASP.NET MVC. I have a background in business applications but I really enjoy making any kind of software. 
  </p>
  <p>
    I do believe in the power of twitter, but I dont use it as much as I would.
    But feel free to follow me anyway :).
  </p>
</section>
